In [10]:
bool()

False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [10]:
my_str="Sumiran Grover"

In [11]:
my_str

'Sumiran Grover'

In [12]:
my_str.isalnum()
#checks if all the string is a combination of alphanumeric

False

In [13]:
my_str.isalpha()
#checks if the string contains only alphabets(no spaces, numbers and special characters)

False

In [14]:
my_str="abc"
my_str.isalpha()

True

In [15]:
my_str="wxyz"
my_str.isalpha()

True

In [18]:
my_str="Sumiran Grover"

In [20]:
my_str

'Sumiran Grover'

In [21]:
my_str.islower()
#checks if string is a lower case string

False

In [22]:
my_str.split()

['Sumiran', 'Grover']

In [33]:
my_str.removeprefix('Sumi')
#returns the string with given prefix string removed

'ran Grover'

In [34]:
my_str.removeprefix("Sumiran")

' Grover'

In [35]:
my_str.isupper()

False

In [36]:
my_str.startswith('S')

True

In [37]:
my_str.endswith('r')

True

In [38]:
my_str.istitle()
#first letter of each word is Upper Case and rest are in lower case-->Title case

True

# Boolean Operations

In [41]:
True and True

True

In [42]:
True and False

False

In [43]:
True or False

True

In [40]:
str="wXy"
str.istitle()

False

In [44]:
my_str="Sumiran2004"
sample_str="Grover"

In [45]:
my_str.isalnum() and sample_str.isalpha()

True

# List

In [46]:
type([])

list

In [48]:
sample1=[]
type(sample1)

list

In [49]:
sample2=list()
type(sample2)
#list()-->in-built function used to create an empty list

list

In [80]:
sample=['Physics','Mathematics',100,98]
sample

['Physics', 'Mathematics', 100, 98]

In [81]:
sample.insert(2,"Chemistry")
#inserts--> adds the element at specified position

In [82]:
sample.append(95)

In [84]:
sample[2]

#indexing in list starts from 0

'Chemistry'

In [85]:
sample[4]

98

In [86]:
sample[:]

['Physics', 'Mathematics', 'Chemistry', 100, 98, 95]

In [87]:
sample[1:3]

['Mathematics', 'Chemistry']

In [88]:
sample[:6]

['Physics', 'Mathematics', 'Chemistry', 100, 98, 95]

In [91]:
sample.append(['English','Computer Sceince'])

In [92]:
sample

#nesting of lists

['Physics',
 'Mathematics',
 'Chemistry',
 100,
 98,
 95,
 ['English', 'Computer Sceince'],
 ['English', 'Computer Sceince']]

In [95]:
#extend method 
sample=[1,2,3,4,5]
sample.extend([6,7])

#extend methods adds the elements as seperate elements in list , unlike Append() method

In [96]:
sample

[1, 2, 3, 4, 5, 6, 7]

In [97]:
len(sample)

7

Various Operations that can be performed in Lists

In [98]:
sum(sample)

28

In [99]:
sample.pop()
#pop()--> removes and returns the element at the given index 
#if index is not given, it removes the last element

7

In [100]:
sample

[1, 2, 3, 4, 5, 6]

In [101]:
sample=[1,1,1,2,3,2,4,3,5,6,3]

In [102]:
sample.count(1)
#count()--> counts the total occurence of element in the list

3

In [103]:
sample.count(3)

3

In [104]:
sample.index(1)
#index()--> returns the first occurence of element in the list

0

In [105]:
sample.index(1,1,4)
#second argument-->start position
#third argument--> end position

1

In [106]:
max(sample)

6

In [107]:
min(sample)

1

In [108]:
sample.sort()

In [109]:
sample

[1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 6]

# Sets
A set is an unordered collection of data type that is iterable , mutable and has NO DUPLICATE ELEMENTS.
Python's set class represents the Mathematical notion of a set. This is based on the data structure known as Hash Table

In [112]:
#defining an empty set 
set_var=set()
print(set_var)

set()

In [113]:
type(set_var)

set

In [114]:
set_var={1,2,3,4}

In [116]:
set_var

{1, 2, 3, 4}

In [117]:
set_var={1,2,3,4,2}

#no duplicate element is printed

In [118]:
set_var

{1, 2, 3, 4}

In [119]:
len(set_var)

4

In [120]:
##indexing
set_var[0]

TypeError: 'set' object is not subscriptable

In [121]:
set_var[1]

#sets do not support indexing

TypeError: 'set' object is not subscriptable

In [124]:
set_var.add(7)

In [125]:
set_var

{1, 2, 3, 4, 7}

In [126]:
set_var2={2,5,9,12}

In [127]:
set_var2

{2, 5, 9, 12}

In [128]:
set_var.intersection(set_var2)

{2}

In [129]:
set_var.difference(set_var2)
#difference()--> creates a new set, without the unwanted items

{1, 3, 4, 7}

In [130]:
set_var.difference_update(set_var2)
#difference_update()--> removes the unwanted elements from the original set

In [132]:
set_var

{1, 3, 4, 7}

In [133]:
set_var.symmetric_difference(set_var2)
#symetric_difference()--> returns the set containing all the elements but not the elements present in both the sets

{1, 2, 3, 4, 5, 7, 9, 12}

# Dictionary
It is a collection unordered, changeable and indexed data. Python dictionaries are written in curly brackets and have keys and values

In [134]:
dict={}

In [135]:
type(dict)

dict

In [136]:
dict={1,2,3,4}

In [137]:
type(dict)

#dictionary has key and values

set

In [19]:
#creating a dictionary
dict={"subject1":"Mathematics","subject2":"Physics","subject3":"Computer Science","subject4":"English","subject5":"Fashion Studies"}

In [20]:
type(dict)

dict

In [21]:
#access the item value based on key 
dict["subject1"]

'Mathematics'

In [150]:
for x in dict:
    print(x)

subject1
subject2
subject3
subject4
subject5

In [152]:
for x in dict.values():
    print(x)

Mathematics
Physics
Computer Science
English
Fashion Studies

In [153]:
for x in dict.items():
    print(x)

('subject1', 'Mathematics')
('subject2', 'Physics')
('subject3', 'Computer Science')
('subject4', 'English')
('subject5', 'Fashion Studies')

In [22]:
#adding items in dictionary

dict['subject6']="Enterpreneurship"

In [23]:
dict

{'subject1': 'Mathematics',
 'subject2': 'Physics',
 'subject3': 'Computer Science',
 'subject4': 'English',
 'subject5': 'Fashion Studies',
 'subject6': 'Enterpreneurship'}

In [41]:
dict["subject2"]="Professional Communication"

#key got replaced

In [40]:
dict

{'subject1': 'Mathematics',
 'subject2': 'Professional Communication',
 'subject3': 'Computer Science',
 'subject4': 'English',
 'subject5': 'Fashion Studies',
 'subject6': 'Enterpreneurship'}

NESTED DICTIONARY

In [26]:
sub1_marks={"Mathematics":97}
sub2_marks={"Professional Communication":98}
sub3_marks={"Computer Science":100}
sub4_marks={"English":95}
sub5_marks={"Fashion Studies":94}
sub6_marks={"Enterpreneurship":90}
marks={"subject1":sub1_marks,"subject2":sub2_marks,"subject3":sub3_marks}

In [27]:
marks

{'subject1': {'Mathematics': 97},
 'subject2': {'Professional Communication': 98},
 'subject3': {'Computer Science': 100}}

In [28]:
print(marks["subject2"])

#accessing elements in a nested dictionary

{'Professional Communication': 98}

In [29]:
print(marks['subject3']['Computer Science'])

100

# Tuples

In [30]:
my_tuple=tuple()

#creating an empty tuple

In [31]:
type(my_tuple)

tuple

In [33]:
my_tuple=("Rishi","Seema","Sumiran","Dhairya")
#note the use of round brackets in tuples

In [34]:
print(my_tuple)

('Rishi', 'Seema', 'Sumiran', 'Dhairya')

In [35]:
#accessing elements in a tuple 
my_tuple[0]

'Rishi'

In [36]:
my_tuple[0]="Sumiran"
#tuples are immutable. The value of the elements cannot be changed

TypeError: 'tuple' object does not support item assignment

In [37]:
#in-built functions 
my_tuple.count("Seema")

1

In [38]:
my_tuple.index("Rishi")

0